html {
    background: #ddd;
    font-family: sans-serif;
}

.main {
    max-width: 100%;
    padding: 84px 16px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Add this line */
    gap: 16px;
}

.book-item {
    flex: 1 1 1;
    padding: 0px 16px 24px; 
    background-color: white;
    border: solid 4px grey;
    width: 240px;
}

.book-item button {
    margin-right: 8px;
}

.read.read-true {
    color: darkgreen;
}

.read {
    color: lightgrey;
}

dialog {
    padding: 16px 16px 16px;
}

dialog button {
    float: right;
    margin-bottom: 16px;
}

dialog form {
    display: flex;
    flex-direction: column;
    align-content: start;
}

dialog form label {
    margin-top: 8px;
    margin-bottom: 4px;
}

dialog form input {
    margin-bottom: 12px;
    padding: 8px;
    font-size: 16px;
}

dialog form button {
    padding: 8px 16px;
    border-radius: 6px;
}

dialog form input[type="checkbox"] {
    align-self: flex-start;
}