html {
    background: #ddd;;
}

.main {
    max-width: 100%;
    padding: 84px 16px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Add this line */
    gap: 16px;
}

.book-item {
    flex: 1 1 1;
    padding: 16px 16px 24px; 
    background-color: white;
    border: solid 4px grey;
    width: 240px;
  }
